.wrapper {
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  align-items: flex-end;
}

.info {
  padding: 40px;
  flex: 1;
}

.info > h2 {
  font-size: 24px;
  font-weight: 600;
}

.info > p:nth-of-type(1) {
  font-size: 12px;
  padding-bottom: 5px;
}

.info > p:nth-of-type(2) {
  padding: 10px 0 40px 0;
  font-size: 20px;
  font-weight: 200;
}

.info > p:nth-of-type(3) {
  font-size: 14px;
}

.btnBox {
  display: flex;
  gap: 5px;
  padding-top: 50px;
}

.btnBox > button:nth-of-type(1) {
  width: 80%;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}

.btnBox > button:nth-of-type(2) {
  width: 20%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
