.wrapper {
  max-width: 1500px;
  width: 90%;
}

.topContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 50px;
}

.wrapper > h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 14px;
}

.addBtn {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
}

.addBtn:hover {
  cursor: pointer;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-bottom: 20px;
}

.productListItem {
  width: calc(50% - 3px);
  height: 40px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}

.productListItem > p:hover {
  cursor: pointer;
}
