.mainvisual {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.mainvisual .mainSlideItem {
  width: 100%;
  height: 100%;
}

.mainvisual .titleBox {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
}
